.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 2px;
}

.thumbnail .caption-full {
  padding: 9px;
}

.jumbotron{
    background-image:url('/assets/pics/newImg.png');
    color:white;
    
    background-repeat: no-repeat;
    background-position: center;
  
}

